body{
    font-family: Sarabun;
}
.video-container{
    width: 370px;
}
.thumbnail {
    width: 370px;
    margin-left: 12px;
    margin-bottom: 12px ;
}

.search-bar {
    font-size: 13px;
    margin-left: 12px;
}

.video-info {
    margin-left: 12px;
}
.video-info-grid{
    width: 370px;
    height: 70px;
    margin-left: 12px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 5px;
    row-gap: 1px;
}
.video-info-grid2{
    width: 370px;
    height: 70px;
    margin-left: 12px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 22px 1fr 1fr;
    row-gap: 10px;
    column-gap: 5px;
    row-gap: 1px;
}
.profile-pic{
    border-radius: 50%;
    width: 35px;
}
.video-title{
    margin: 0px;
    height: auto;
}

.video-stats , .video-author{
    margin: 0px;
    margin-top: 5px;
    font-size: 15px;
}
.video-title{
    font-weight: bold;
    font-size: 16px;
    width: 320px;
}

.video-grid{
    width: 1150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 50px;
}
